language: python

dist: trusty
sudo: required

virtualenv:
  system_site_packages: true

env:
  global:
    - LENSFUN_GIT="git://git.code.sf.net/p/lensfun/code"
  matrix:
    - USE_LATEST_LENSFUN=false
    - USE_LATEST_LENSFUN=true

git:
  submodules: false

install:
  # checkout master, see https://sourceforge.net/p/lensfun/bugs/36/
  # git checkout -f `git describe --abbrev=0 --tags` ;
  - if [ $USE_LATEST_LENSFUN == true ]; then
      cd .. ;
      git clone $LENSFUN_GIT lensfun ;
      cd lensfun ;
      git checkout 75a845abf ;
      cmake . -DBUILD_TESTS=off ;
      sudo make install ;
      echo "/usr/local/lib" | sudo tee /etc/ld.so.conf.d/99local.conf ;
      sudo ldconfig ;
      cd ../lensfunpy ;
    else
      sudo apt-get update ;
      sudo apt-get install liblensfun-dev ;
    fi
  - travis_retry pip install -r dev-requirements.txt
  - python setup.py sdist
  - pip install dist/*.tar.gz

script:
  - mkdir tmp_for_test
  - cd tmp_for_test
  - nosetests --verbosity=3 --nocapture ../test
  - cd ..

after_success:
  - if [ $USE_LATEST_LENSFUN == true ]; then
      pip install travispy ;
      travis_retry python -c "import os; from travispy import TravisPy; t = TravisPy.github_auth(os.environ['GITHUB_TOKEN']); t.build(t.branch('mac-wheels', 'letmaik/lensfunpy').id).restart()" ;
    fi

before_deploy:
  # otherwise sphinx would fail
  - python setup.py build_ext --inplace

deploy:
  provider: pypi
  user: letmaik
  password:
    secure: xkeMUQH24m9yfkf0cj8HKcafDPVkbQX/KsWT6QuUq9Nwo9C1wTa9Y0ptb81e4bhCMeCnUS5z7QNjWPk/fNZuXmkYzAKxo6A3ZVyWUwnQTU7Tc04E3q0QVwGdZT3kGHgh0509nqRCB314d90Bd2ByEPHluX/nInwII6x8Rk9i6Hw=
  on:
    tags: true
    all_branches: true
    condition: $USE_LATEST_LENSFUN = false