# build dependencies
wheel>=0.31.0
delocate;sys.platform == 'darwin'
cython

# build and runtime dependencies
numpy

# optional runtime dependencies
scipy

# test dependencies
nose

# documentation dependencies
sphinx_rtd_theme
sphinx
